.letter-input {
    display: inline-block;
    font-weight: 900;
    padding: 0px 5px;
    width: 35px;
    text-align: right;
}

#submit-answer {
    background:#00b96b;
    margin: 0px 25px;
}

#reset-game {
    text-decoration: none;
    margin: 0px 25px;
}

ul {
    list-style-type: none;
    padding: 0px;
}